/* .topic-frame {
    transition: opacity 2s ease, visibility 2s ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.topic-frame.show {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.topic-frame.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
} */